* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Redressed", cursive;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 3.5rem 10rem 0rem;
}

header h2 {
  text-transform: uppercase;
}

header nav {
  display: flex;
}
header nav li {
  margin: 0rem 1.5rem;
  font-size: 1.6rem;
}
header nav li:first-child {
  margin-left: 0;
}
header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 2rem 5rem;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 1.5rem;
  }
  header nav li {
    margin: 0rem 0.7rem;
  }
}

/* BANNER AREA */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem 10rem;
  font-size: 1.7rem;
}

@media (max-width: 1000px) {
  section {
    padding: 10rem 5rem;
  }
}
@media (max-width: 600px) {
  section {
    padding: 12.5rem 3rem;
  }
}

section p {
  max-width: 80rem;
  text-align: center;
  margin-bottom: 3.5rem;
  padding: 0rem 2rem;
  line-height: 2;
}

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}
.banner-area .banner-img {
  background-image: url(images/background-computer-screen-wallpaper-desktop-desktop-background-windows-screen-background-monitor-background.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.banner-area .banner-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.08;
}

.banner-area h1 {
  margin-bottom: 1.5rem;
  font-size: 6.5rem;
  font-family: merienda;
}

.banner-area h3 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

.banner-area a.banner-btn {
  padding: 1.5rem 3.5rem;
  background: crimson;
  border-radius: 5rem;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .banner-area {
    min-height: 600px;
  }
  .banner-area h1 {
    font-size: 3.2rem;
  }
  .banner-area h3 {
    font-size: 2rem;
  }
  .banner-area a.banner-btn {
    padding: 1.5rem 4rem;
  }
}

/* ABOUT AREA */

ul.about-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-content li {
  padding: 2rem;
  height: 29rem;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.about-left {
  flex-basis: 40%;
  background-image: url(images/The-Evolution-Of-Web-Development-Via-Machine-Learning.jpg);
  height: 15rem;
  width: auto;
}

.about-right {
  flex-basis: 60%;
}

.about-area p {
  max-width: 80rem;
  margin-bottom: 3.5rem;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

.section-title {
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 5%;
}

.about-right h2 {
  margin-bottom: 3%;
}

.about-btn {
  padding: 1.5rem 3.5rem;
  background: crimson;
  border-radius: 5rem;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1000px) {
  .about-left,
  .about-right {
    flex-basis: 100%;
  }
  .about-content li {
    padding: 0.8rem;
  }
}

/* SERVICES AREA */

#services {
  background: #ddd;
}

ul.services-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-content li {
  padding: 0 3rem;
  flex-basis: 33%;
  text-align: center;
}

.services-content li i {
  font-size: 3rem;
  color: crimson;
  margin-bottom: 2.5rem;
}

.services-content li h4 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.services-content li p {
  margin: 0;
}

@media (max-width: 1000px) {
  .services-content li {
    flex-basis: 100%;
    margin-bottom: 6.5rem;
  }
  .services-content li:last-child {
    margin-bottom: 0;
  }
  .services-content li p {
    padding: 0;
  }
}

/* CONTACT */
#contact {
  background: #fff;
}

ul.contact-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-content li {
  padding: 0rem 3rem;
  flex-basis: 33%;
  text-align: center;
}

.contact-content li i {
  font-size: 3rem;
  color: crimson;
  margin-bottom: 2.5rem;
}

.contact-content li p {
  margin: 0;
}

@media (max-width: 1000px) {
  .contact-content li {
    flex-basis: 100%;
    margin-bottom: 6.5rem;
  }
  .contact-content li:last-child {
    margin-bottom: 0;
  }
  .contact-content li p {
    padding: 0;
  }
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 2rem 0;
  font-size: 1.3rem;
}
